#map {
    width: 1200px;
    height: 600px;
    margin-top: 15px;
}

/* Axes */
.axis line {
    fill: none;
    stroke: #8693a0;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 13px;
    fill: #6b6b6b;
}

.axis-title {
    font-size: 13px;
    fill: #888;
}

.x-axis .domain {
    stroke: #8693a0;
}

.y-axis .domain {
    display: none;
}

.background {
    fill: none;
    pointer-events: all;
}

.button {
    width: 100px;
    height: 40px;
}

.chart-line {
    fill: none;
    stroke: #517390;
    stroke-width: 2px;
}

.key {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container {
    display: flex;
    margin-bottom: 0px;
}

.container-grid {
    display: grid;
    row-gap: 0px;
}

.screen-upper {
    gap: 20px;
    display: grid;
    grid-template-columns: 4fr 2fr;
    row-gap: 0px;
}

.screen-lower {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.screen {
    display: grid;
}

.map-container {
    display: grid;
}

.side-container {
    display: grid;
    row-gap: 0px;
}

.pie-container {
    margin: auto;
    margin-top: 0px;
    display: flex;
}

.legend-title {
    font-size: .9rem;
    font-weight: 600;
}

.legend-label {
    font-size: .8rem;
}

.margin-right {
    margin-right: 30px;
}

.margin-bottom {
    margin-bottom: 20px;
}

/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}

.tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

#tooltip ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
}

/* Timeline Tooltip */
.timelineTooltip circle {
    fill: none;
    stroke: #78bd39;
}

.timelineTooltip text {
    fill: #78bd39;
}